.login-box {
    margin-top: 40px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #ffffff;
    border: #1976d2 1px solid;
    width: 100%;
    max-width: 400px;
    
  }
  
  .logo {
    width: 320px;
    display: block;
    margin: 0 auto 16px auto;
  }
  
  .register-link-box {
    margin-top: 16px;
    text-align: center;
  }
  
  .register-link {
    text-decoration: none;
    color: #1976d2;
    font-weight: 500;
  }
  
  .register-link:hover {
    text-decoration: underline;
  }
  
  /* Estilos para Snackbar y Alert */
  .snackbar {
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed !important;
    z-index: 1300;
  }
  
  .alert {
    width: 100%;
  }
  