/* Register.css */
.register-container {
    background-color: #f0f2f5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .register-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .register-input {
    margin-bottom: 20px;
  }
  
  .register-button {
    margin-top: 20px;
  }
  
  .MuiTypography-h4 {
    font-weight: bold;
  }
  